{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}

    <div id="graphic" class="graphic">
        {% if COPY.labels.embedcode %}{{ render(COPY.labels.embedcode)|smarty }}{% endif %}
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

<!--     <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div> -->

    <div class="footer coral-credit" style="text-align: right;">
        <a href="https://coralproject.net/products/ask">
        <img src="img/coral-wide.png" style="max-height:30px;padding:10px 40px;display:inline-block;">
        </a>
    </div>

{% endblock content %}
